<li class="list-group-item">
    <div class="d-flex flex-row">
        <img class="comment-avatar rounded-circle h-auto" src="{{(comment.getUser()).getAvatar() }}">
        <div class="comment-text flex-grow-1 d-flex flex-column justify-content-between">
            <div class="comment-header d-flex flex-row justify-content-between">
                <h5>{{ (comment.getUser()).getUserName() }}</h5>
                <p>{{ (comment.getCreatedAt()|date('d/m/Y h:i'))}}</p>
            </div>
            <p>{{ comment.getText()}}</p>
        </div>
    </div>
</li>
