{% for label, messages in app.flashes %}
    {% for message in messages %}
        {% if label == "notice" %}
            <div class="alert alert-success">
        {% else %}
            <div class="alert alert-{{ label }}">
        {% endif %}
            {{ message|nl2br}}
            </div>
    {% endfor %}
{% endfor %}