{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}

<div class="position-relative">
	<img id="scroll-home" class="w-100 h-auto" src="https://images4.alphacoders.com/183/183974.jpg" style="object-fit: cover;">
	<div class="position-absolute" style="bottom : 10vw ; right : 20px;">
		<a class="sticky-bottom" href="#scroll-article">arrow</a>
	</div>
</div>
<div class="container" id="scroll-article" style="height : 3000 px;">
	<div id="trick-list" class="row row-cols-1 row-cols-md-5 g-4">
		{% for trick in tricks %}
			{{ include('tricks/card.html.twig')}}
		{% endfor %}
	</div>
	{% if nbToken > 0 %}
		<button class="btn btn-primary text-center" id="btnShowMore">show more</button>
	{% endif %}
</div>
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
				<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
				</button>
			</div>
			<div class="modal-body">
				<p><strong>Etes-vous sûr de vouloir supprimer cette figure ?</strong></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success" data-dismiss="modal">Non</button>
				<a id="deleteConfirm" href="" type="button" class="btn btn-danger">Oui</a>
			</div>
		</div>
	</div>
</div>
{% endif %}
<script>
var offset = {{ offset }}
var nbToken = {{ nbToken }}
	function btnRemoveClick(link) {
    	$("#deleteConfirm").attr('href', link );
    	// As pointed out in comments, 
    	// it is unnecessary to have to manually call the modal.
    	$('#DeleteModal').modal('show');
	}

$("#btnShowMore").click(function (e) {
	$.ajax({
		url: 'ask/'+ offset,
		type: 'Get',
		data: { 'nbToken' : nbToken },
		success: function(e) {
			offset = e.offset;
			nbToken = e.nbToken;
			for([index, trick] of e.tricks.entries()) {
				$("#trick-list").append(trick);
			};
			if (nbToken <= 0) {
				$('#btnShowMore').remove();
			}
		}
	});
});
</script>

{% endblock %}
