{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}

	<div class="position-relative">
		<img id="scroll-home" class="vw-100 vh-100" src="https://images4.alphacoders.com/183/183974.jpg">
		<div class="position-absolute" style="bottom : 10 rm; right : 20px;">
			<a class="sticky-bottom" href="#scroll-article">arrow</a>
		</div>
    </div>
		<div id="scroll-article" style="height : 3000 px;">
			article
		</div>
	{% endblock %}
