<h1> Vous avez oublié de valider votre email </h1>

<p>Vous avez reçu ce message car vous avez essayé de vous connecter sans avoir validé votre adresse mail.<br>
<p>Veiller vérifier votre adresse mail via ce lien</p>
<a href="{{ url(link, param) }}">valider votre adresse mail</a>